
<div class="row" style="padding-top: 100px;" class="container-fluid">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active"><a ui-sref="login.admin">Admin</a></li>
            <li ui-sref-active="active"><a ui-sref="login.member">Member</a></li>
            <li ui-sref-active="active"><a ui-sref="login.regis">Registrasi</a></li>

        </ul>
        <ui-view></ui-view>
    </div>
    <div class="col-sm-4"></div>

</div>
