<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Daftar Peminjaman</h4>
                        <p class="category">berikut adalah daftar anggota yang meminjaman buku</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>Id</th>
                                <th>Nama</th>
                                <th>Buku dipinjam</th>
                                <th>Jangka Waktu</th>
                                <th>Sudah Kembali</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Udin Marudin</td>
                                <td>Design Sprint</td>
                                <td>12-12-2016</td>
                                <td>Sudah</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>